.container {
	display: flex;
	min-height: 0;
	height: 100%;
	flex-direction: column;
	background-color: var(--color-bg);
}

.list {
	flex: 1 1 auto;
	overflow-y: auto;
}

.list_nothing {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem 1rem;
	margin: 0.2rem 0;
	color: var(--color-text);
}
